@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  background: url(./images/bg-pattern-top.svg) left -550px top -550px no-repeat,
    url(./images/bg-pattern-bottom.svg) right -550px bottom -550px no-repeat;
  background-color: #19a2ae;
}

.container {
  max-width: 1400px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-card {
  max-width: 351px;
  width: 100%;
  height: 375px;
  background-color: white;
  border-radius: 15px;
}

.card-image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 141px;
  max-width: 351px;
  background: #378ca4 url(images/bg-pattern-card.svg) center center/cover
    no-repeat local;
}

.vitor {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  background-color: white;
  position: relative;
  top: 85px;
  margin: 0 auto;
}

.vitor img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.card-name {
  height: 144px;
  width: 352px;
  text-align: center;
  position: relative;
  border-bottom: 2px solid #f7f7f7;
}
.name {
  max-width: 180px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 70px;
}
.name p {
  display: inline;
}
.name p:first-child {
  color: #484860;
  font-weight: 700;
}
.name p:last-child {
  color: #767680;
  font-weight: 700;
}
.age {
  color: #babac0;
  display: inline-block;
  position: absolute;
  top: 70px;
}

.place {
  color: #babac0;
  display: block;
  position: relative;
  top: 70px;
}
.card-stats {
  max-width: 350px;
  height: 86px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.stats {
  width: 116px;
  height: 80px;
  text-align: center;
  padding: 22px 0;
}

.stats .numbers {
  font-size: 1.1rem;
  color: #373a4b;
  font-weight: 700;
}

.stats .stats-name {
  font-size: 12px;
  color: #9a9a9c;
  margin-top: 5px;
  font-weight: 700;
}



.attribution{
    background-color: #c3c0c0;
}
@media only screen and (min-width: 23.4375em) {
  body {
    background: url(./images/bg-pattern-top.svg) left -600px top -600px
        no-repeat,
      url(./images/bg-pattern-bottom.svg) right -600px bottom -600px no-repeat;
    background-color: #19a2ae;
  }
  .main-card {
    width: 100%;
  }

  .stats {
    width: 90px;
  }
}
@media only screen and (max-width: 23.375em) {
  body {
    background: url(./images/bg-pattern-top.svg) left -600px top -600px
        no-repeat,
      url(./images/bg-pattern-bottom.svg) right -600px bottom -600px no-repeat;
    background-color: #19a2ae;
  }
  .main-card {
    width: 100%;
  }

  .stats {
    width: 90px;
  }
}
